USE [master]
GO
/****** Object:  Database [classicmodels]    Script Date: 9/22/2020 5:24:14 PM ******/
CREATE DATABASE [classicmodels]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'classicmodels', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\classicmodels.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'classicmodels_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\classicmodels_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [classicmodels].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [classicmodels]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 9/22/2020 5:24:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[customerNumber] [int] NOT NULL,
	[customerName] [varchar](50) NOT NULL,
	[contactLastName] [varchar](50) NOT NULL,
	[contactFirstName] [varchar](50) NOT NULL,
	[phone] [varchar](50) NOT NULL,
	[addressLine1] [varchar](50) NOT NULL,
	[addressLine2] [varchar](50) NULL,
	[city] [varchar](50) NOT NULL,
	[state] [varchar](50) NULL,
	[postalCode] [varchar](15) NULL,
	[country] [varchar](50) NOT NULL,
	[salesRepEmployeeNumber] [int] NULL,
	[creditLimit] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[customerNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 9/22/2020 5:24:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[employeeNumber] [int] NOT NULL,
	[lastName] [varchar](50) NOT NULL,
	[firstName] [varchar](50) NOT NULL,
	[extension] [varchar](10) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[officeCode] [varchar](20) NOT NULL,
	[reportsTo] [int] NULL,
	[jobTitle] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[employeeNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Offices]    Script Date: 9/22/2020 5:24:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Offices](
	[officeCode] [varchar](50) NOT NULL,
	[city] [varchar](50) NOT NULL,
	[phone] [varchar](50) NOT NULL,
	[addressLine1] [varchar](50) NOT NULL,
	[addressLine2] [varchar](50) NULL,
	[state] [varchar](50) NULL,
	[country] [varchar](50) NOT NULL,
	[postalCode] [varchar](10) NOT NULL,
	[territory] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[officeCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 9/22/2020 5:24:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[orderNumber] [int] NOT NULL,
	[productCode] [varchar](50) NOT NULL,
	[quantityOrdered] [int] NOT NULL,
	[priceEach] [float] NOT NULL,
	[orderLineNumber] [smallint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[orderNumber] ASC,
	[productCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 9/22/2020 5:24:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[orderNumber] [int] NOT NULL,
	[orderDate] [datetime] NOT NULL,
	[requiredDate] [datetime] NOT NULL,
	[shippedDate] [datetime] NULL,
	[status] [varchar](15) NOT NULL,
	[comments] [text] NULL,
	[customerNumber] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[orderNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 9/22/2020 5:24:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[customerNumber] [int] NOT NULL,
	[checkNumber] [varchar](50) NOT NULL,
	[paymentDate] [datetime] NOT NULL,
	[amount] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[customerNumber] ASC,
	[checkNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 9/22/2020 5:24:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[productCode] [varchar](50) NOT NULL,
	[productName] [varchar](70) NOT NULL,
	[productLine] [varchar](50) NOT NULL,
	[productScale] [varchar](10) NULL,
	[productVendor] [varchar](50) NOT NULL,
	[productDescription] [text] NOT NULL,
	[quantityInStock] [int] NULL,
	[buyPrice] [float] NOT NULL,
	[MSRP] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[productCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Customers] ([customerNumber], [customerName], [contactLastName], [contactFirstName], [phone], [addressLine1], [addressLine2], [city], [state], [postalCode], [country], [salesRepEmployeeNumber], [creditLimit]) VALUES (103, N'"Atelier graphique"', N'"Schmitt"', N'"Carine "', N'"40.32.2555"', N'"54 rue Royale"', N'NULL', N'"Nantes"', N'NULL', N'"44000"', N'"France"', 1370, 21000)
INSERT [dbo].[Customers] ([customerNumber], [customerName], [contactLastName], [contactFirstName], [phone], [addressLine1], [addressLine2], [city], [state], [postalCode], [country], [salesRepEmployeeNumber], [creditLimit]) VALUES (112, N'"Signal Gift Stores"', N'"King"', N'"Sue"', N'"7025551838"', N'"8489 Strong St."', N'NULL', N'"Las Vegas"', N'"NV"', N'"83030"', N'"USA"', 1166, 71800)
INSERT [dbo].[Customers] ([customerNumber], [customerName], [contactLastName], [contactFirstName], [phone], [addressLine1], [addressLine2], [city], [state], [postalCode], [country], [salesRepEmployeeNumber], [creditLimit]) VALUES (114, N'"Australian Collectors Co."', N'"Ferguson"', N'"Peter"', N'"03 9520 4555"', N'"636 St Kilda Road"', N'"Level 3"', N'"Melbourne"', N'"Victoria"', N'"3004"', N'"Australia"', 1611, 117300)
GO
INSERT [dbo].[Employees] ([employeeNumber], [lastName], [firstName], [extension], [email], [officeCode], [reportsTo], [jobTitle]) VALUES (1002, N'Murphy', N'Diane', N'x5800', N'dmurphy@classicmodelcars.com', N'1', NULL, N'President')
INSERT [dbo].[Employees] ([employeeNumber], [lastName], [firstName], [extension], [email], [officeCode], [reportsTo], [jobTitle]) VALUES (1056, N'Patterson', N'Mary', N'x4611', N'mpatterso@classicmodelcars.com', N'1', 1002, N'VP Sales')
INSERT [dbo].[Employees] ([employeeNumber], [lastName], [firstName], [extension], [email], [officeCode], [reportsTo], [jobTitle]) VALUES (1076, N'Firrelli', N'Jeff', N'x9273', N'jfirrelli@classicmodelcars.com', N'1', 1002, N'VP Marketing')
INSERT [dbo].[OrderDetails] ([orderNumber], [productCode], [quantityOrdered], [priceEach], [orderLineNumber]) VALUES (10100, N'"S18_1749"', 30, 171.7, 3)
INSERT [dbo].[OrderDetails] ([orderNumber], [productCode], [quantityOrdered], [priceEach], [orderLineNumber]) VALUES (10100, N'"S18_2248"', 50, 67.8, 2)
INSERT [dbo].[OrderDetails] ([orderNumber], [productCode], [quantityOrdered], [priceEach], [orderLineNumber]) VALUES (10100, N'"S18_4409"', 22, 86.51, 4)
GO
INSERT [dbo].[Orders] ([orderNumber], [orderDate], [requiredDate], [shippedDate], [status], [comments], [customerNumber]) VALUES (10100, CAST(N'2003-01-06T00:00:00.000' AS DateTime), CAST(N'2003-01-13T00:00:00.000' AS DateTime), CAST(N'2003-01-10T00:00:00.000' AS DateTime), N'"Shipped"', N'NULL', 363)
INSERT [dbo].[Orders] ([orderNumber], [orderDate], [requiredDate], [shippedDate], [status], [comments], [customerNumber]) VALUES (10101, CAST(N'2003-01-09T00:00:00.000' AS DateTime), CAST(N'2003-01-18T00:00:00.000' AS DateTime), CAST(N'2003-01-11T00:00:00.000' AS DateTime), N'"Shipped"', N'"Check on availability."', 128)
INSERT [dbo].[Orders] ([orderNumber], [orderDate], [requiredDate], [shippedDate], [status], [comments], [customerNumber]) VALUES (10102, CAST(N'2003-01-10T00:00:00.000' AS DateTime), CAST(N'2003-01-18T00:00:00.000' AS DateTime), CAST(N'2003-01-14T00:00:00.000' AS DateTime), N'"Shipped"', N'NULL', 181)
GO
INSERT [dbo].[Products] ([productCode], [productName], [productLine], [productScale], [productVendor], [productDescription], [quantityInStock], [buyPrice], [MSRP]) VALUES (N'A72_3212', N'Updated Product', N'Test', N'1:42', N'Second Gear Diecast', N'Official logos and insignias. Working steering system. Rotating jet engines', 44, 75.5, 44.23)
INSERT [dbo].[Products] ([productCode], [productName], [productLine], [productScale], [productVendor], [productDescription], [quantityInStock], [buyPrice], [MSRP]) VALUES (N'S10_1678', N'1969 Harley Davidson Ultimate Chopper', N'Motorcycles', N'1:10', N'Min Lin Diecast', N'This replica features working kickstand, front suspension, gear-shift lever, footbrake lever, drive chain, wheels and steering. All parts are particularly delicate due to their precise scale and require special care and attention.', 7933, 48.81, 95.7)
INSERT [dbo].[Products] ([productCode], [productName], [productLine], [productScale], [productVendor], [productDescription], [quantityInStock], [buyPrice], [MSRP]) VALUES (N'S10_1949', N'1952 Alpine Renault 1300', N'Classic Cars', N'1:10', N'Classic Metal Creations', N'Turnable front wheels; steering function; detailed interior; detailed engine; opening hood; opening trunk; opening doors; and detailed chassis.', 7305, 98.58, 214.3)
GO
ALTER TABLE [dbo].[OrderDetails]  WITH NOCHECK ADD  CONSTRAINT [FK_OrderDetails_Orders] FOREIGN KEY([orderNumber])
REFERENCES [dbo].[Orders] ([orderNumber])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Orders]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH NOCHECK ADD  CONSTRAINT [FK_OrderDetails_Products] FOREIGN KEY([productCode])
REFERENCES [dbo].[Products] ([productCode])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Products]
GO
ALTER TABLE [dbo].[Orders]  WITH NOCHECK ADD  CONSTRAINT [FK_Orders_Customers] FOREIGN KEY([customerNumber])
REFERENCES [dbo].[Customers] ([customerNumber])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Customers]
GO
/****** Object:  StoredProcedure [dbo].[uspGetOrdersByID]    Script Date: 9/22/2020 5:24:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspGetOrdersByID]
    @customerNumber int
AS   
	SELECT C.customerNumber 'Customer Number', C.customerName 'Customer Name', 
		   C.contactFirstName + ' ' + C.contactLastName 'Full Name',
		   O.orderNumber 'Order Number', O.orderDate 'Order Date',
		   O.requiredDate 'Required Date', O.shippedDate 'Shipped Date',
		   O.status 'Status', O.comments 'Comments'
	FROM Customers C JOIN Orders O ON C.customerNumber=O.customerNumber
	WHERE C.customerNumber = @customerNumber
    
GO
USE [master]
GO
